body {
    background-color: #F1F1F1;
    font-family: Arial;
}

#page-wrapper {
    max-width: 900px;
    margin: auto;
}

#header {
    position: relative;
    height: 100px;
}

#logo-block {
    display: inline-block;
}

#logo-block img {
    
}

#search-block {
    display: inline-block;
    padding-left: 75px;
}

#search-bar {
    padding-bottom: 20px;

}

input {
    width: 300px;
    height: 20px;
}

#search-btn {
    height: 25px;
    border-radius: 0;
}

#content-type {
    width: 100%;
}

#content-type li {
    display: inline;
    padding-right: 15px;
    padding-left: 10px;
}

#account-block {
    display: inline-block;
    /*float: right;*/
    position: absolute;
    bottom: 0;
    right: 0;
}

#account-text {
    padding-bottom: 20px;
    text-align: right;
}

#account-text a {
    text-decoration: none;
}

#viewership-text {
    font-size: 12px;
    text-align: right;
}

#viewership-text li {
    display: inline;
    padding-left: 10px;
}
